* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  text-align: center;
  border: 16px solid;
}

.container-outer {
  border-color: lightgrey;
  height: 100vh;
}

.container-middle {
  border-color: black;
  height: 100%;
}

.container-inner {
  background-color: khaki;
  border-color: crimson;
  border-width: 24px;
  height: 100%;
}

.title {
  font-size: 72px;
  padding: 30px;
}
